.icons-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.icons-list__link {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px;
   border-radius: 50%;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list__link:hover,
.icons-list__link:focus {
   background-color: var(--color-accent);
}

.icons-list__icon {
   width: 20px;
   height: 20px;
   fill: #afb1b8;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list__link:hover .icons-list__icon,
.icons-list__link:focus .icons-list__icon {
   fill: #ffffff;
}

.footer-join .icons-list__link {
   background-color: rgba(255, 255, 255, 0.1);
}

.footer-join .icons-list__link:hover,
.footer-join .icons-list__link:focus {
   background-color: var(--color-accent);
}

.footer-join .icons-list__icon {
   fill: #ffffff;
}