.page-header {
   border-bottom: 1px solid #ececec;
}

.page-header .container {
   display: flex;
   align-items: center;
}

.page-header__main-nav {
   margin-left: 93px;
}

.page-header__head-contact {
   margin-left: auto;
}